/* bootstrap sticky footer */
.container-fluid {
  padding-top: 60px;
}

/* background image for each html  */
body {
  background-image: url("./myimages/background.png");
  height: 100 px;
}

/* beginning of contact html */
.contact-form {
  padding: 25px;
}

.contact-header {
  color: white;
}
/* a border line for contact and index html */
div.line {
  border: 1px solid white;
}

.full-width {
  width: 100% !important;
}

img {
  max-width: 68%;
}

/* beginning of about me css style */
.card-title1 {
  text-align: center;
  padding-right: 45%;
  color: white;
}
.card bootstrap-card {
  max-height: 100%;
  max-width: 100%;
}

.aboutmep2 {
  word-wrap: break-word;
}
